.cl-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Collapsible {
    text-align: center;
    transition: all 0.3s;
}

.Collapsible:hover {
    text-indent: 5vw;
}

.Collapsible__trigger {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 20pt;
    transition: all 0.3s;
}

.Collapsible__trigger:hover {
    color: #00ffffff;
    text-indent: 5vw;
}

.Collapsible__contentOuter {
    width: 80vw;
}

.Collapsible__contentInner {
    text-align: left;
}