.company-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
}

.company-content {
    flex: 1 0 auto;
    padding: 10px;
    width: 100vw;
}

.company-footer {
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    width: 100vw;
}