.company-landing-div {
    text-align: center;
}

.company-landing-logo {
    margin-top: 5vh;
    height: 25vh;
    pointer-events: none;
}

.company-landing-header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #282c34;
}

.company-landing-signature {
    color: rgb(12, 110, 110);
    text-align: right;
}

.portfolio-landing-div {
    text-align: center;
}

.portfolio-landing-logo {
    margin-top: 5vh;
    animation: Landing-logo-spin infinite 20s linear;
    height: 25vh;
    pointer-events: none;
}

.portfolio-landing-header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
}

.portfolio-landing-signature {
    color: #00ffffff;
    text-align: right;
}

@keyframes Landing-logo-spin {
    0% {
        transform: rotate(0deg) translateY(-25px);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg) translateY(-25px);
    }
}