.app-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
    max-width: 100vw;
}

.social {
    width: 100vw;
    align-items: center;
}

.Collapsible {
    text-align: center;
    transition: all 0.3s;
}

.Collapsible:hover {
    text-indent: 5vw;
}

/*noinspection ALL*/
.Collapsible__trigger {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 20pt;
    transition: all 0.3s;
}

/*noinspection CssUnusedSymbol*/
.Collapsible__trigger:hover {
    color: #00ffffff;
    text-indent: 5vw;
}

/*noinspection ALL*/
.Collapsible__contentOuter {
    width: 80vw;
}

/*noinspection CssUnusedSymbol*/
.Collapsible__contentInner {
    text-align: left;
}
